/* COMMON */
body{
	color: #333;
  font-size: 16px;
  font-weight: 400px; /*폰트 두께*/
  line-height: 1.4; /*줄 높이 */
	font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header .inner {
  height: 120px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu{
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before{
  content: "";
  /*display: block;*/
  width: 1px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li:first-child::before{
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover{
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 1px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}