.parent {
	width: 300px;
	height: 200px;
	background-color: red;
}

.child {
	width: 100px;
	height: inherit;
	background-color: inherit;
	position: fixed;
	top: 100px;
	right: 10px;
}

[type="password"] {
	background-color: orange;
}

div{
	width: 200px;
	height: 100px;
	background-color: orange;
}

.box::before{
	content: "Before";
}

.box::after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background-color: royalblue;
}

.box{
	width: 100px;
	height: 100px;
	background-color: orange;
	transition: 1s;
}

.box:hover{
	width: 300px;
	background-color: royalblue;
}